In [18]:
n = 10
print("The number is %d"%(n))

The number is 10

In [19]:
n = 10.5
print("The number is %f"%(n))

The number is 10.500000

In [2]:
name = 'Arvind'
age = 45
str1 = f"Hello, {name}! You are {age} years old."
print(str1)

Hello, Arvind! You are 45 years old.

In [3]:
name = 'Arvind'
age = 45
str1 = f'Hello, {name}! You are {age} years old.'
print(str1)

Hello, Arvind! You are 45 years old.

In [4]:
name = 'Arvind'
age = 45
str1 = f'''Hello, {name}! You are {age} years old.'''
print(str1)

Hello, Arvind! You are 45 years old.

In [5]:
pi = 3.14159
msg = f"Pi rounded to two decimal places: {pi:.2f}"
print(msg)

Pi rounded to two decimal places: 3.14

In [7]:
pi = 3.14159
msg = f"Pi rounded to two decimal places: {.2f}"
print(msg)

SyntaxError: invalid decimal literal (157403314.py, line 2)

In [8]:
print(f"{name=}, {age=}")

name='Arvind', age=45

In [9]:
print(f"{name}, {age}")

Arvind, 45

In [ ]:
# Print date using f-string in Python

In [11]:
import datetime
today = datetime.datetime.today()
print(today)

2025-10-05 11:29:02.746185

In [12]:
import datetime
today = datetime.datetime.today()
print(f"{today:%B %d, %Y}")

October 05, 2025

In [13]:
import datetime
today = datetime.datetime.today()
print(f"{today:%d %B, %Y}")

05 October, 2025

In [20]:
st1 = f"Hello, what's up here "
print(st1)

Hello, what's up here

In [21]:
st1 = f'Hello, what's up here '
print(st1)

SyntaxError: unterminated string literal (detected at line 1) (3458172725.py, line 1)

In [23]:
st1 = f'''Hello, "what's up here " '''
print(st1)

Hello, "what's up here "

In [24]:
a = 70
b = 60
c = 50
print(f"Arvind got total marks {a+ b+ c} out of 300")

Arvind got total marks 180 out of 300

In [26]:
f"newline: {ord('\n')}"

'newline: 10'

In [25]:
newline = ord('\n')
print(f"newline: {newline}")

newline: 10

In [29]:
f" The sum is {5*2 + 3 #calculating sum }"

_IncompleteInputError: incomplete input (3872567651.py, line 1)

In [30]:
a = ord('A')
print(a)

65