### Nested For loops

In [3]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [4]:
m=n=0
while n<3:
    while m<3:
        print(n,m)
        m = m+1
n = n+1

0 0
0 1
0 2

KeyboardInterrupt:

In [7]:
for i in range(5):
    for j in range(5-i-1):
        print(' ', end='')
    for k in range(i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [21]:
for i in range(1,6):
    for j in range(6-i-1):
        print(' ', end='')
    for k in range(i):
        print(k+1,end='')
    print()

    1
   12
  123
 1234
12345

In [23]:
for i in range(1,6):
    for j in range(6-i-1):
        print(' ', end='')
    for k in range(i):
        print(i,end='')
    print()

    1
   22
  333
 4444
55555

In [25]:
for i in range(65,70):
    for j in range(70-i-1):
        print(' ', end='')
    for k in range(65,i+1):
        print(chr(k),end='')
    print()

    A
   AB
  ABC
 ABCD
ABCDE

In [26]:
for i in range(65,70):
    for j in range(70-i-1):
        print(' ', end='')
    for k in range(65,i+1):
        print(chr(i),end='')
    print()

    A
   BB
  CCC
 DDDD
EEEEE

In [39]:
for i in range(5):
    for j in range(5-i-1):
        print(' ', end='')
    for k in range(i,-1,-1):
        print(k+1,end='')
    print()

    1
   21
  321
 4321
54321

### Range() in Negative ###

In [34]:
a = range(5)
b = list(a)
print(b)

[0, 1, 2, 3, 4]

In [35]:
a = range(1,5)
b = list(a)
print(b)

[1, 2, 3, 4]

In [36]:
a = range(1,5,2)
b = list(a)
print(b)

[1, 3]

In [38]:
a = range(10,0,-1)
b = list(a)
print(b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Print the first 10 natural numbers using for loop.

In [43]:
for i in range(1,20):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

### Python program to print all the even numbers within the given range.

In [45]:
for i in range(20):
    if i%2!=0:
        print(i,end=' ')

1 3 5 7 9 11 13 15 17 19

### Python program to calculate the sum of all numbers from 1 to a given number.

In [47]:
sum = 0
n=int(input('Enter the number: '))
for i in range(1,n+1):
    sum = sum+i
print('The sum of all numbers: ',sum)

Enter the number:  5

The sum of all numbers:  15

### Python program to calculate the sum of all the odd numbers within the given range.

In [49]:
sum = 0
n=int(input('Enter the number: '))
for i in range(1,n+1):
    if i%2!=0:
        sum = sum+i
print('The sum of all numbers: ',sum)

Enter the number:  5

The sum of all numbers:  9

### Python program to print a multiplication table of a given number

In [51]:
n=int(input('Enter the number: '))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter the number:  6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

### Python program to count the total number of digits in a number.

In [53]:
count=0
n=input('Enter the number: ')
for i in n:
    count = count+1
print(count)

Enter the number:  193474655

9

In [55]:
n=int(input('Enter the number: '))
count = 0
while n>0:
    a = n%10
    count = count +1
    n = n//10

print(count)

Enter the number:  12345678

8

### Python program to generate the Fibonacci series

In [61]:
a=int(input('Enter the 1st number: '))
b=int(input('Enter the 2nd number: '))
n=int(input('Enter the number of terms: '))
print('The fibonacci Series:')
print(a,b, end=' ')
for i in range(n-2):
    c = a+b
    print(c,end=' ')
    a = b
    b = c

Enter the 1st number:  0
Enter the 2nd number:  1
Enter the number of terms:  5

The fibonacci Series:
0 1 1 2 3

In [63]:
f=1
n=int(input('Enter the number: '))
for i in range(1,n+1):
    f = f*i
print('The factorial is',f)

Enter the number:  8

The factorial is 40320

In [1]:
for i in range(5):
    for j in range(4-i,0,-1):
        print(end=' ')
    for k in range(5,i+6):
        print(k,end='')
    print()

    5
   56
  567
 5678
56789

In [3]:
word = "Python"
x =''
for i in word:
    x = x+i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python

In [4]:
rows = int(input("Enter the number of rows:"))  
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):
        print(end="")
        k = k - 2   # decrement k value after each iteration  
    for j in range(0, i+1):  
        print("*", end="")  # printing star  
    print()

Enter the number of rows: 5

*
**
***
****
*****

### Identity Operator

In [5]:
x=5
y=10
r=x is y
print(r)
type(x) is int

False

True

In [6]:
x=5
y=10
r=x is not y
print(r)

True

In [9]:
sum=0
n=int(input('Enter the five digit number'))
while n>0:
    a=n%10
    sum=sum+a
    n=n//10
print('The sum of five digit is',sum)

Enter the five digit number 12345

The sum of five digit is 15

In [11]:
n=int(input("Enter the terms"))
sum = 0
t = n
while t > 0:
    a = t % 10
    sum = sum + a **3
    t= t//10  
if n == sum:
    print(n,"is an Armstrong number")  
else:
    print(n,"is not an Armstrong number")

Enter the terms 1234

1234 is not an Armstrong number

In [13]:
for i in range(1,500):
    a = i%10
    b = i//10
    b = b%10
    c = i//100
    if i==(a**3+b**3+c**3):
        print(i)

1
153
370
371
407

In [2]:
for i in range(5,0,-1):
    for j in range(i):
        print('*', end='')
    print()

*****
****
***
**
*

In [6]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end='')
    print()

12345
1234
123
12
1

In [12]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i,end='')
    print()

55555
4444
333
22
1

In [7]:
for i in range(70,65,-1):
    for j in range(65,i):
        print(chr(j),end='')
    print()

ABCDE
ABCD
ABC
AB
A

In [17]:
for i in range(5):
    for j in range(4-i):
        print(' ',end='')
    for k in range(i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [18]:
for i in range(1,6):
    for j in range(5-i):
        print(' ',end='')
    for k in range(1,i+1):
        print(k,end='')
    print()

    1
   12
  123
 1234
12345

In [23]:
for i in range(65,70):
    for j in range(69-i):
        print(' ',end='')
    for k in range(65,i+1):
        print(chr(k),end='')
    print()

    A
   AB
  ABC
 ABCD
ABCDE

In [28]:
for i in range(1,6):
    for j in range(5-i):
        print(' ',end='')
    for k in range((2*i-2)+1):
        print('*',end='')
    print()

    *
   ***
  *****
 *******
*********

In [31]:
for i in range(1,6):
    for j in range(5-i):
        print(' ',end='')
    for k in range(1,(2*i-2)+2):
        print(k,end='')
    print()

    1
   123
  12345
 1234567
123456789

In [1]:
for i in range(5):
    for j in range(4-i,0,-1):
        print(end=' ')
    for k in range(5,i+6):
        print(k,end='')
    print()

    5
   56
  567
 5678
56789

In [13]:
for i in range(1,6):
    for j in range(5-i):
        print(end=' ')
    for k in range(5,5-i,-1):
        print(k,end='')
    print()

    5
   54
  543
 5432
54321